
.body{

    padding: 0;
    margin: 5px;
    background-color: burlywood;
    border: 5px solid black;
    border-width: 15px;
    border-style: solid;
    font-size: xx-large;
color: black;

}

.cabeçalho{

    padding: 0%;
}
.informação{
    
    padding: auto;
    margin: 20%;
    font-weight: bold;
    font-size: 700;
    text-align: justify;

}
.cabeçalho_titulo{

    text-align: center;
    padding: auto;
    margin: 15%;
}
.informação2{
    
    padding: auto;
    margin: 20%;
    font-size: 700;
    font-weight: bold;

}
.foto2{
    border: 1px solid red;
    width: 50%;
}
.foto{
    border: 1px solid red;
    width: 50%;
}
.video{

    padding: auto;
    margin: 15%;
}

